@{
    ViewBag.Title = "Default Page";
}

@{
    //var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString();
    var culture = "ru-RU";
}

<html>
<head>
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/kendo/2019.1.220/kendo.moonlight.min.css")
    @Scripts.Render("~/Scripts/kendo")
    @Scripts.Render("~/Scripts/Custom")
    @Scripts.Render("~/Scripts/Cultures/kendo.culture." + culture + ".min.js")
    @Scripts.Render("~/Scripts/messages/kendo.messages." + culture + ".min.js")
    <script>kendo.culture('@culture');</script>
</head>

<body>
    <div id="i_menu">
        @Html.Action("LoadMenuComponent", "PartialComponents")
    </div>

    <br />

    <div id="control_content"> </div>

    <script>
        @*$('#i_menu').load('@Url.Content("~/PartialComponents/LoadMenuComponent?filename=ModelMenu.xml")');*@
    </script>
    

    @(Html.Kendo().Notification().Name("popupNotification"))
</body>
</html>