@{
    ViewBag.Title = "Dynamic Grid page";
}

@{
    //var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString();
    var culture = "ru-RU";
}

@model Kendo_Example.Models.GridUrlParam

<html>
<head>
    <link rel="icon" href="~/Images/favicon/grid.png" type="image/x-icon">
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/kendo/2019.1.220/kendo.silver.min.css")
    @Scripts.Render("~/Scripts/kendo")
    @Scripts.Render("~/Scripts/Custom")
    @Scripts.Render("~/Scripts/Cultures/kendo.culture." + culture + ".min.js")
    @Scripts.Render("~/Scripts/messages/kendo.messages." + culture + ".min.js")
    <script>kendo.culture('@culture');</script>
</head>

<body>
    <div id="i_menu">
        @Html.Action("LoadMenuComponent", "PartialComponents")
    </div>
    <br />
    <div id="component_content">
        @Html.Action("LoadGridComponent", "PartialComponents", Model)
    </div>

    <script>

        @*$(document).ready(function () {
            $('#component_content').load('@Url.Content("~/PartialComponents/LoadGridComponent")', {
                filename: '@Model.filename', field_name: '@Model.field_name', field_value: '@Model.field_value' });
        });*@

    </script>



    @(Html.Kendo().Notification().Name("popupNotification"))
</body>
</html>