@{
    ViewBag.Title = "Home Page";
}

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString();
}

<html>
<head>
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/Scripts/kendo")
    @Scripts.Render("~/Scripts/Custom")
    @Scripts.Render("~/Scripts/Cultures/kendo.culture." + culture + ".min.js")
</head>

<body>
    <div id="i_menu"> </div>
    <br />
    <div id="control_content"> </div>

    <button id="showAu">show au</button>

    <br />
    <kendo:grid name="asdasd"> </kendo:grid>
    <button id="showGrid">show grid</button>
    <br />

    <script>
        $('#i_menu').load('@Url.Content("~/Components/LoadMenuComponent?filename=ModelMenu.xml")');

        $(document).ready(function () {
            $('#showAu').click(function () {
                $('#control_content').load('@Url.Content("~/Components/LoadAuComponent?filename=ModelAu.xml")');
            });
        });

        $(document).ready(function () {
            $('#showGrid').click(function () {
                $('#control_content').load('@Url.Content("~/Components/LoadGridComponent?filename=ModelGrid.xml")');
            });
        });

    </script>



    @(Html.Kendo().Notification().Name("popupNotification"))
</body>
</html>